/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*body*/

/**{
    outline: 2px solid #000;
}*/

body{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Noto Sans TC', sans-serif
     /*background:black;*/
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    width:1296px;
}
.card{
    outline:1px solid #f2f2f2;
    margin:15px auto;
    width:416px;
    border-radius: 16px;
}
.card img{
    width:100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
p, h3, h4{
    padding: 0 30px;
}
h3{
    font-size: 20px;
    line-height: 1.5;
    margin-top:4%;
    margin-bottom: 2%;
}
p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 4%;
}
h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 3;
}
hr{
    border:none;
    height:0.5px;
    background-color:#f2f2f2;
}

h4{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
a{
    margin-top: 2px;
    margin-bottom: 3px;
    cursor: pointer;
}